<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wsg.myapplication"
    >
    <uses-sdk
    android:minSdkVersion="17"
        android:targetSdkVersion="24"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />



    <application
        android:name="com.example.wsg.myapplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.example.wsg.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>
        <activity android:name=".ScendActivity">

        </activity>
        <activity android:name=".ThirdActivity">

        </activity>
        <activity android:name=".FourActivity"
            android:excludeFromRecents="true">

        </activity>

        <service android:name=".MyService">

        </service>
        <receiver android:name=".myBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>




    </application>


</manifest>